# Dependencias
node_modules/

# Variables de entorno (NUNCA subir a GitHub)
.env

# Prisma
prisma/migrations/dev.db
*.db

# Compilación TypeScript
dist/
build/

# Logs
logs/
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db